<nav id="category-filter">
  <ul>
    <li id="category-all" class="category clickable category-selected">All</li>
    <% all_categories.each do |category| %>
    <li id="category-<%= category.name.downcase %>" class="category clickable"><%= category.name %></li>
    <% end %>
  </ul>
</nav>