<nav id="category-filter">
  <ul>
    <li id="all-projects">All</li>
    <% all_categories.each do |category| %>
    <li id="category-<%= category.name.downcase %>" class="category"><%= category.name %></li>
    <% end %>
  </ul>
</nav>