<ul id="project-list">
<% @projects.each do |project| %>
  <li class="project
    <% project.categories.each do |cat| %>
      <%= "category-" + cat.name.downcase + " " %>
    <% end %>
    <% if project.project_detail %>
      project-<%= project.project_detail.id %>
    <% end %>
  ">
    <span class="project-number"><%= project.number %></span>
    <span class="project-title"><%= project.title %></span>
  </li>
<% end %>
</ul>