<h1>Christa Hartsock</h1>

<section id="about">
  <h2>About</h2>
  <p></p>
</section>

<section id="projects">
  <h2>Projects</h2>
  <%= render :partial => 'cat_filter' %>
  <%= render :partial => 'project_list' %>
</section>

<section id="contact">
  <h2>Contact</h2>

</section>