<div class="row">
  <section id="about" class="column xsmall-12 large-12">
    <h1>Christa Hartsock</h1>

    <p>Full-stack web developer with a background in architecture.</p>
  </section>
</div>

<div class="row">
  <section id="projects" class="column xsmall-12 large-9">
    <h2>Projects</h2>
    <%= render :partial => 'cat_filter' %>
    <%= render :partial => 'project_list' %>
  </section>

  <section id="contact" class="column xsmall-12 large-3">
    <h2>Contact</h2>
    <ul>
      <li>Email</li>
      <li>Github</li>
      <li>Twitter</li>
    </ul>

  </section>
</div>