<div class="row">
  <section id="about" class="column xsmall-12 large-12 sticky">
    <h1>Christa Hartsock</h1>

    <p>Full-stack web developer with a background in architecture.<br />
    Site currently under construction. Please excuse the mess and lack of animated shovel gifs.</p>
  </section>
</div>

<div class="row">
  <section id="projects" class="column xsmall-12 large-9">
    <div id="project-header" class="sticky">
      <h2>Projects</h2>
      <%= render :partial => 'cat_filter' %>
    </div>
    <%= render :partial => 'project_list' %>
  </section>

  <section id="contact" class="column xsmall-12 large-3 sticky">
    <h2>Contact</h2>
    <ul>
      <li class="clickable"><a href="mailto:hi-at-chartsock-dot-com">Email</a></li>
      <li class="clickable"><a href="http://github.com/hartsick">Github</a></li>
      <li class="clickable"><a href="http://linkedin.com/in/chartsock">LinkedIn</a></li>
      <li class="clickable"><a href="http://twitter.com/_hartsick">Twitter</a></li>
    </ul>

  </section>
</div>