/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.all
 */

@import "foundation_and_overrides";

$highlightColor: yellow;
$hoverColor: lighten($highlightColor, 30);

h1 {
  color: white;
}

ul, dl {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

dl dt {
  font-weight: normal;
}

.filtered-project {
  color: rgba(255, 255, 255, .25);
}

.clickable, .clickable a{
  cursor: help;
}

.clickable {
  border-bottom: 1px solid #fff;
}

.project.clickable {
  border: none;
}

.project.underline, .details.underline {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.project.underline.unselected-project, .details.underline.unselected-project {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.project.underline.filtered-project, .details.underline.filtered-project {
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.project-active {
  color: $highlightColor;
}

.details {
  margin-left: 15px;
  color: #eee;

  p {
    margin-bottom: .5rem;
  }

  a {
    color: lighten($hoverColor, 10);
  }
}

a:hover, .clickable:hover, footer.faded a:hover{
  color: $hoverColor;
}

.clickable:active {
  color: lighten($highlightColor, 20);
}

.category-selected, .category-selected:hover {
  color: $highlightColor;
}

#category-filter ul li{
  display: inline-block;
  padding: 0 5px;
}

#all-projects {
  color: $highlightColor;
}

.sticky {
  position: sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;

  top: 0;
  padding-top: 10px;
}

section#contact {
  top: 60px;
  padding-top: 1em;
}

#project-header {
  top: 0;
  padding-top: 10px;
  // background-color: rgba(32, 32, 32, .8);
}

footer {
  padding-top: 2.5em;
  text-align: right;
}

.less-faded, footer.faded a  {
  color: rgba(255, 255, 255, .5);

  &.underline {
    border-bottom: 1px solid rgba(255, 255, 255,.6)
  }
}

.faded{
  color: rgba(255, 255, 255, .2);

  &.underline {
    border-bottom: 1px solid rgba(255, 255, 255,.3)
  }
}

.most-faded {
  color: rgba(255, 255, 255, .1);

  &.underline {
    border-bottom: 1px solid rgba(255, 255, 255,.1)
  }
}

.unselected-project {
  color: rgba(255, 255, 255, .1);
}